{% extends 'layout.html.twig' %} 

{% block seccion2 %}
    <h1 class="titulo-blog">Menus</h1>

{% endblock %}

{% block seccion3 %}
    <link rel="stylesheet" href="{{ asset('public/css/style.css') }}"/>
    
        <h2>Listado de Menus</h2><hr>
        
        <a href="{{ path('mrf_menu_add') }}" class="btn btn-info" role="button">Agregar Menu</a>
        <br><br>        
        <div class="row table-responsive ">
            {% for message in app.session.flashbag().get('mensaje') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <table id="example" class="table table-info table-bordered table-condensed table-hover display" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Ruta</th>
                    <th>Listar</th>
                    <th>Agregar</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    <th>Acciones</th>                
                </tr>
            </thead>
            <tbody>
                {% for Menu in menu %}
                    <tr>
                        <td>{{ Menu.id }}</td>
                        <td>{{ Menu.nombre }}</td>
                        <td>{{ Menu.ruta }}</td>
                        <td>{{ Menu.listar }}</td>
                        <td>{{ Menu.agregar }}</td>
                        <td>{{ Menu.editar }}</td>
                        <td>{{ Menu.eliminar }}</td>
                        <td>
                            <a class="glyphicon glyphicon-pencil" href="{{ path('mrf_menu_edit', {id: Menu.id}) }}"></a>
                            <a class="glyphicon glyphicon-trash edel" href="{{ path('mrf_menu_delete', {id: Menu.id}) }}"></a>                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
{% endblock %}