{% extends 'layout.html.twig' %} 

{% block seccion2 %}
    <h1 class="titulo-blog">Usuarios</h1>

{% endblock %}

{% block seccion3 %}
    <div class="col-lg-4">
        <h2>Agregar Usuario:</h2><hr>
        {{ form_start(form)}}
        <div >
            {{ form_label(form.rol) }}
            {{ form_widget(form.rol, {'attr' : {'class': 'form-control'}}) }}
            <span >{{ form_errors(form.rol) }}</span>
        </div>
        <div >
            {{ form_label(form.rut) }}
            {{ form_widget(form.rut, {'attr' : {'placeholder' : 'Rut', 'class': 'form-control'}}) }}
            <span >{{ form_errors(form.rut) }}</span>
        </div>
        <div >
            {{ form_label(form.nombres) }}
            {{ form_widget(form.nombres, {'attr' : {'placeholder' : 'Nombre', 'class': 'form-control'}}) }}
            <span >{{ form_errors(form.nombres) }}</span>
        </div>
        <div >
            {{ form_label(form.apellidoP) }}
            {{ form_widget(form.apellidoP, {'attr' : {'placeholder' : 'Apellido Paterno', 'class': 'form-control'}}) }}
            <span >{{ form_errors(form.apellidoP) }}</span>
        </div>
        <div >
            {{ form_label(form.apellidoM) }}
            {{ form_widget(form.apellidoM, {'attr' : {'placeholder' : 'Apellido materno', 'class': 'form-control'}}) }}
            <span >{{ form_errors(form.apellidoM) }}</span>
        </div>
        <div >
            {{ form_label(form.username) }}
            {{ form_widget(form.username, {'attr' : {'placeholder' : 'username', 'class': 'form-control'}}) }}
            <span >{{ form_errors(form.username) }}</span>
        </div>

        <div >
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr' : {'placeholder' : 'password', 'class': 'form-control'}}) }}
            <span >{{ form_errors(form.password) }}</span>
        </div>
        <div >
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr' : {'placeholder' : 'Email', 'class': 'form-control'}}) }}
            <span >{{ form_errors(form.email) }}</span>
        </div>
        <br>
        <p>
            {{ form_widget(form.save, {'label' : 'Agregar Usuario', 'attr' : { 'class': 'form-control', 'class': 'btn btn-success'}}) }}
        </p>    
    {{form_end(form)}}
{% endblock %}
    